<!DOCTYPE html>

<link href="core.css" media="screen" rel="stylesheet" type="text/css">
<link href="show.css" media="screen" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://www.auburn.edu/template/styles/sidebar.css" media="screen" type="text/css"/>
<!--#include virtual="/template/includes/head.html" -->
<script type="text/javascript">
    function openInProgress(event) {
        inprogress = document.getElementsByClassName("in-progress-body");
        inprogress[0].setAttribute("data-state-body", "active");
        completed = document.getElementsByClassName("completed-body");
        completed[0].setAttribute("data-state-body", "inactive");
    }

    function openCompleted(event) {
        inprogress = document.getElementsByClassName("in-progress-body");
        inprogress[0].setAttribute("data-state-body", "inactive");
        completed = document.getElementsByClassName("completed-body");
        completed[0].setAttribute("data-state-body", "active");
    }
</script>

</head>
<body>
<div id="pageWrap">
    <div id="headerWrap">
        <div id="header">
            <div id="logo">
                <a href="http://www.auburn.edu/"><img src="./files/headerLogo.png" alt="Auburn University Homepage"></a>

            </div>
            <div id="headerTitle">
                <div class="titleArea">
                    <span class="mainHeading"><!-- TemplateBeginEditable name="unitTitle" -->Spectrum Educational Tool
                        <!-- TemplateEndEditable --></span>
                    <span class="subHeading">
                            <!-- TemplateBeginEditable name="unitSubTitle" -->an online resource training for student
                            teachers<!-- TemplateEndEditable -->
                        </span>
                </div>
            </div>
        </div>
        <table class="nav">
            <td width="400"></td>
            {% if username == "guest" %}
            <td style="font-style:italic;text-align:right;font-size:14px; color:#FFFFFF;">Welcome Guest</td>
            <td style="font-style:italic;text-align:right;font-size:14px; color:#FFFFFF;">
                <a class="upLink" href="./login.html" target="_self" title="Home">LOGIN</a>
            </td>
            {% else %}
            <td style="font-style:italic;text-align:right;font-size:14px; color:#FFFFFF;">Welcome {{username}}</td>
            <td style="font-style:italic;text-align:right;font-size:14px; color:#FFFFFF;">
                <a class="upLink" href="/logout" target="_self" title="Home">LOGOUT</a>
            </td>
            {% endif %}

        </table>
    </div>
    <!--<article classname="fit-fixed color-scheme&#45;&#45;white">-->
    <!--<div class="grid-row">-->
    <!--</article>-->
    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="contentArea">
        <div class="sidebar">
            <!-- TemplateBeginEditable name="sidebar" -->
            <a class="upLink" href="./home" target="_self" title="Home">Home </a> <br/>
            <a href="/caseselect" target="_self" title="Chapter 1">Case Studies</a>

            <a href="/lifecases" target="_self" title="Chapter 2">Life Cases</a>
        </div>
        <div class="color-scheme--white padding-top-bottom--3">
            <div class="grid-row" id="recommendation">
                <div class="grid-col-12 grid-col--align-center grid-col--no-padding grid-col--no-margin">

                    <div class="grid-col-12 grid-row">
                        <div class="grid-col-12 grid-col--no-spacing grid-row">
                            <div class="grid-col-12 grid-col--center grid-col--no-padding grid-col--no-margin margin-top--1">
                                <h2>ALL CASES</h2>
                            </div>
                            <div class="grid-col-8 grid-col--no-margin grid-col--center">
                                <div class="progress">
                                    <div class="progress__indicator">{{progress.point}}%</div>

                                    <div class="progress__bar">
                                        <div class="progress__bar__complete" style="width:{{progress.point}}%"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="grid-col-3 grid-col--center grid-col--no-margin grid-col--no-padding"><a
                                href="/caseselect"
                                class="button button--large button--fill-space button--secondary "
                                data-confirm="null" id=""> Continue </a></div>


                        <br>
                        <br>
                        <br>


                        <div class="grid-row grid-row--no-collapse tabs tabs-color-scheme--darkgrey">
                            <div class="grid-col--align-center grid-col-12 grid-col--center grid-col--no-padding grid-col--no-margin">
                                <a href="#" class="tab padding--1 margin-left--quarter margin-right--quarter"
                                   data-data="null" data-state="inactive" data-type="in-progress" id="in-progress" onclick="openInProgress(event)">In-Progress
                                    Cases ({{progress.incompleted.length}})</a>
                                <a href="#" class="tab padding--1 margin-left--quarter margin-right--quarter"
                                   data-data="null" data-state="active" data-type="completed" id="completed" onclick="openCompleted(event)">Completed
                                    Cases ({{progress.completed.length}})</a>
                            </div>
                        </div>
                        <div class="grid-row color-scheme--darkgrey">
                            <div class="in-progress-body tab-body" data-state-body="inactive">
                                <div class="grid-col-12 grid-col--no-spacing dynamic-container margin-top-bottom--2 grid-row">
                                    {% for pq in progress.incompleted %}
                                    <div class="grid-col-12 grid-col--no-spacing">
                                        <div class="grid-col-12 grid-row color-scheme--white table-row ">
                                            <div class="grid-col-4 grid-col--no-margin">
                                                <h5 class="text--ellipsis">Case {{pq.progress.caseNumber}}</h5>
                                            </div>
                                            <div class="grid-col-5 table-row__progress">
                                                <div class="progress">
                                                    <div class="progress__indicator">{{pq.currentPoint}}%</div>

                                                    <div class="progress__bar">
                                                        <div class="progress__bar__complete" style=width:{{pq.currentPoint}}%></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="./casestudy_{{pq.progress.caseNumber}}.html" class="link--target "></a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="completed-body tab-body" data-state-body="active">
                                <div class="grid-col-12 grid-col--no-spacing dynamic-container margin-top-bottom--2 grid-row">
                                    {% for pq in progress.completed %}
                                    <div class="grid-col-12 grid-col--no-spacing">
                                        <div class="grid-col-12 grid-row color-scheme--white table-row ">
                                            <div class="grid-col-4 grid-col--no-margin">
                                                <h5 class="text--ellipsis">Case {{pq.caseNumber}}</h5>
                                            </div>
                                            <div class="grid-col-5 table-row__progress">
                                                <div class="progress">
                                                    <div class="progress__indicator">100%</div>

                                                    <div class="progress__bar">
                                                        <div class="progress__bar__complete" style=width:100%></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="./casestudy_{{pq.caseNumber}}.html" class="link--target "></a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<div id="contentArea_bottom"></div>
<div id="footerWrap">
    <div id="footer">
    </div>
    <div id="subfooter">
        Auburn University | Auburn, Alabama 36849 | (334) 844-4000 |
        <script type="text/javascript">emailE = 'auburn.edu';
        emailE = ('YourEmailAddress' + '@' + emailE);
        document.write("<a href='mailto:" + emailE + "'>" + emailE + "</a>");</script>
        <br/>
        <a href="https://fp.auburn.edu/ocm/auweb_survey">Website Feedback</a> | <a
            href="http://www.auburn.edu/privacy">Privacy</a> | <a
            href="http://www.auburn.edu/oit/it_policies/copyright_regulations.php">Copyright
        &copy;
        <script type="text/javascript">date = new Date();
        document.write(date.getFullYear());</script>
    </a>
    </div>
</div>
</div>

</body>
</html>